.idea/
.vscode/
build/
target/
package/
test/
rpc/manual_test
testTMP/
db/core/temp/
local_tests/
vms/fastvm/native/rust_evm_intf/dist
vms/avm/libs/aion_vm/org-aion-avm-jni.jar
*.o
*.so.*
*.a
*.out
*.ll
*.log
log
tags
*.tar.gz
*.tar.bz2
*.tar
